### Composer template
composer.phar
/vendor/
*.env
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

/app/src/config/jira.db.ini
/app/vendor/
/app/composer.lock
/app-praticiens/vendor/
/app-praticiens/composer.lock
/app-rdv/vendor/
/app-mail/vendor/
/app-mail/composer.lock

/app-rdv/composer.lock
/app-toubilib/vendor/
/app-toubilib/composer.lock
/app-api-gateway/vendor/
/app-api-gateway/composer.lock
/app-api-gateway/composer.lock

/app.auth/vendor/
/app.auth

TODOVivien.md
